.SlidePane {
  top: 0;
  width: 75%;
  left: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  transition: all .5s ease;
  border-left: 1px solid #aaa;
}

.SlidePane__open {
  .SlidePane {
    left: 25%;
  }
}