.SlidePane {
  top: 0;
  width: 75%;
  left: 100%;
  height: 100%;
  background: #ccc;
  position: absolute;
  transition: all .5s ease;
  border-left: 1px solid #aaa;

  &__header {
    display: flex;
    padding: 5px 15px;
    flex-direction: row;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;

    &--title-text,
    &--completed-toggle-button,
    &--favorite-toggle-button,
    &--close-slidepane-button {
      flex: 1;
      cursor: pointer;
    }

    &--title-text-input {
      width: 100%;
      border: none;
      outline: none;
      padding: 5px 10px;
      border-bottom: 1px solid transparent;
    }

    &--completed-toggle-button {
      margin-top: 9px;
      margin-right: 15px;
    }

    &--title-text {
      flex: 50 0 0;
      cursor: text;
    }

    &--favorite-toggle-button {
      margin-top: 9px;
      margin-left: 10px;
    }

    &--close-slidepane-button {
      margin-top: 10px;
      margin-left: 10px;
    }
  }

  &__content-section {
    padding: 0 10px;
  }
}

.SlidePane__open {
  .SlidePane {
    left: 25%;
  }
}